
html {
    background-color: #b0ccc0;
    font-family: Signika, serif;
}

.container {
    margin: auto;
    max-width: 600px;
    padding: 0 10px;
}

.edit-page__block {
    display: flex;
    align-items: center;
}

.edit-page__block-area {
    width: 100%;
    height: fit-content;
    border: solid 1px #6e6e6e;
    border-radius: 20px;
    background-color: #a9b7ae;
    margin: auto;
}

.edit-page__block-logo {
    padding-bottom: 30px;
}


.edit-page__block-logo-area {
    width: 80px;
    height: 80px;
    border: solid 1px #6e6e6e;
    border-radius: 20px;
    position: relative;
    top: 20px;
    margin: auto;
}

.edit-page__edit-button {
    top: 65px;
    left: 25px;
}

.edit-page__button{
    width: 30px;
    height: 30px;
    border: solid 1px #6e6e6e;
    border-radius: 70px;
    background-color: #b0ccc0;
    position: relative;
    top: 65px;
    left: 25px;
}

.edit-page__body-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}


input {
    width: 70%;
    border: solid 1px #6e6e6e;
    border-radius: 30px;
    background-color: #a9b7ae;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 15px;
    text-align: start;
}

.body_date-of-birth {
    font-size: 16px;
    text-align: center;
    padding: 6px 10px;
}

.body__select-form {
    width: 76%;
    border: solid 1px #6e6e6e;
    border-radius: 30px;
    background-color: #a9b7ae;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 6px 10px;
    resize: none;
}

.body__input-name {
    font-size: 16px;
    color: #262626;
    padding: 0 10px;
}

.edit-page__change-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.edit-page__footer {
    text-align: center;
    padding: 15px;
}

.footer__save-button {
    border: solid 1px #6e6e6e;
    border-radius: 30px;
    background-color: #d5b19b;
    opacity: 90%;
    font-family: Signika, serif;
    font-size: 22px;
    font-weight: bold;
    color: #f0f0f0;
    padding: 5px 15px;
    text-shadow: 0px 2px 0 rgba(0.1, 0.1, 0, 0.1);
}

button:hover {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0.1, 0.1, 0, 0.1));
}

@media (min-width: 576px) {
    .edit-page__block-area {
        max-width: 560px;
    }

    input {
        font-size: 18px;
    }

    .body__input-name {
        font-size: 20px;
    }

    .body__select-form{
        width: 74%;
        font-size: 18px;
    }

    .edit-page__change-text {
        font-size: 22px;
    }

    .edit-page__block-logo-area {
        width: 100px;
        height: 100px;
    }

    .footer__save-button {
        font-size: 24px;
        padding: 7px 20px;
    }

    .edit-page__button{
        top: 85px;
        left: 35px;
    }
}

@media (min-width: 768px) {

    .edit-page__block-logo{
        padding-bottom: 40px;
    }

    .edit-page__body-input {
        display: flex;
        flex-direction: row;
        padding: 5px 20px;
    }

    .body__input-name{
        font-size: 20px;
    }

    input {
        width: 60%;
        font-size: 20px;
    }

    .edit-page__body-input {
        font-size: 20px;
    }

    .body__select-form{
        width: 64%;
        font-size: 18px;
    }

    .confirm{
        width: 72%;
    }


    .edit-page__change-text{
        padding-bottom: 5px;
    }
}
