html{
    background-color: #b0ccc0;
}

.container{
    padding: 0 15px;
}

.body{
    max-width: 380px;
    height: fit-content;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #6e6e6e;
    background-color: #a9b7ae;
    margin: 130px auto ;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.body__header{
    text-align: center;
    padding: 20px 20px;
}

.body__header-text{
    font-family: Signika, serif;
    font-size: 16px;
    font-weight: bold;
    color: #262626;
}

.body__input-forms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input{
    width: 65%;
    height: 40px;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color:#6e6e6e ;
    background-color: #a9b7ae;
    outline: none;
    font-family: Signika, serif;
    font-size: 16px;
    font-weight: bold;
    color: #262626;
    text-align: center;
}

input + input{
    margin-top: 10px;
}

.body_sign-up{
    max-width: 180px;
    max-height: 60px;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: #6e6e6e;
    background-color: #d5b19b;
    opacity: 90%;
    margin: 40px auto;
   text-align: center;
}

.sign-up__text{
    /*margin: 13px auto;*/
    font-family: Signika, serif;
    font-size: 20px;
    font-weight: bold;
    color: #f0f0f0;
    padding: 15px 15px;
}
.body__footer-text{
    text-align: center;
}

.body__footer-already{
    font-family: Signika;
    font-size: 16px;
    color: #262626;
}

.body__footer-sign{
    padding-bottom: 10px;
    font-family: Signika;
    font-size: 16px;
    color: #f0f0f0;
}

@media (min-width: 576px) {
    .body__header-text{
        font-size: 18px;
    }

    input{
        font-size: 20px;
        height: 50px;
    }

    .sign-up__text{
        font-size: 24px;
    }

}