html {
    background-color: #b0ccc0;
}

.container {
padding: 0 15px;
}

.body {
    max-width: 400px;
    height: fit-content;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #6e6e6e;
    background-color: #a9b7ae;
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.body__header {
    margin: 30px auto;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 8px;
    border-radius: 80px;
    border-color: #262626;
    background-color: #a9b7ae;
}

.body__header-icon{
    width: 30px;
    height: 30px;
    margin: 14px auto;
}

.body__text-area{
    /*width: 260px;*/
    margin: auto;
    padding: 0 30px;
}

.body__text-trouble{
    font-family: Signika, serif;
    font-size: 22px;
    font-weight: bold;
    color: #262626;
}

.body__text-enter{
    font-family: Signika, serif;
    font-size: 14px;
    font-weight: bold;
    color: #f0f0f0;
    margin: 14px auto;
}

input{
    width: 65%;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color:#6e6e6e ;
    background-color: #a9b7ae;
    outline: none;
    font-family: Signika, serif;
    font-size: 18px;
    font-weight: bold;
    color: #262626;
    text-align: center;
}

.body__text-or{
    font-family: Signika, serif;
    font-size: 14px;
    font-weight: bold;
    color: #262626;
    margin: 14px auto;
}

.body__create{
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: #6e6e6e;
    background-color: #d5b19b;
    opacity: 90%;
    margin: auto;
    text-align: center;
}

.body__create-text{
    font-family: Signika, serif;
    font-size: 18px;
    font-weight: bold;
    color: #f0f0f0;
    padding: 10px 10px;
}

.body__footer{
    margin: 35px auto;
}

.body__footer-text{
    font-family: Signika, serif;
    font-size: 16px;
    font-weight: normal;
    color: #262626;
}
