html {
    background-color: #b0ccc0;
    font-family: Signika, serif;
}

.container {
padding: 0 15px;
}

.page-box {
    max-width: 400px;
    height: fit-content;
    border: solid 1px #6e6e6e;
    border-radius: 20px;
    background-color: #a9b7ae;
    margin: 130px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-box__header {
    margin: 30px auto;
    width: 60px;
    height: 60px;
    border: solid 8px #262626;
    border-radius: 80px;
    background-color: #a9b7ae;
}

.page-box__header-icon{
    width: 30px;
    height: 30px;
    margin: 14px auto;
}

.page-box__text{
    margin: auto;
    padding: 0 30px;
}

.page-box__text-trouble{
    font-size: 22px;
    font-weight: bold;
    color: #262626;
}

.page-box__text-enter{
    font-size: 14px;
    font-weight: bold;
    color: #f0f0f0;
    margin: 14px auto;
}

input{
    width: 65%;
    height: 50px;
    border: solid 1px #6e6e6e;
    border-radius: 30px;
    background-color: #a9b7ae;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    color: #262626;
    text-align: center;
}

.page-box__text-or{
    font-size: 14px;
    font-weight: bold;
    color: #262626;
    margin: 14px auto;
}

button{
    border: solid 1px #6e6e6e;
    border-radius: 30px;
    background-color: #d5b19b;
    opacity: 90%;
    font-size: 18px;
    font-weight: bold;
    color: #f0f0f0;
    padding: 5px 15px;
    text-shadow: 0 2px 0 rgba(0.1, 0.1, 0, 0.1);
}

button:hover {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0.1, 0.1, 0, 0.1));
}

.body__create-text{
    font-size: 18px;
    font-weight: bold;
    color: #f0f0f0;
    padding: 10px 10px;
}

.page-box__footer{
    margin: 35px auto;
}

.page-box__footer-text{
    font-size: 16px;
    font-weight: normal;
    color: #262626;
    text-decoration: none;
}

.page-box__footer-text:hover {
    text-decoration: underline;
}