html {
    font-family: Signika, serif;
}

.post-template {
    max-width: 355px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px #6e6e6e;
    border-radius: 20px;
    background-color: #a9b7ae;
    padding: 0 10px;
    margin: 5px;
}

.post-template__title {
    padding: 10px 0;
}

.post-template__title-body {
    width: 100%;
    height: 35px;
    border: solid 1px #6e6e6e;
    border-radius: 30px;
    background-color: #d5b19b;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.post-template__title-text {
    font-size: 16px;
    font-weight: bold;
    color: #f0f0f0;
    padding: 0 10px;
}

.post-template__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.description__likes-area {
    display: flex;
    justify-content: start;
    font-size: 18px;
    font-weight: bold;
    color: #262626;
}

.description__likes {
    padding: 5px 8px;
}

.description__text-area {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.description__description {
    width: 100%;
    font-size: 14px;
    font-weight: inherit;
    color: #262626;

}

.description__more-button {
    font-size: 14px;
    font-weight: bold;
    color: #262626;
    text-decoration: none;
}

.description__more-button:hover {
    text-decoration: underline;
}

.post-template__avatar-body {
    width: 25px;
    height: 25px;
    margin-left: 10px;
}

.post-template__title-username {
    font-size: 14px;
    font-weight: normal;
    color: #262626;
    padding: 0 10px;
}

.post-template-wall {
    max-width: 360px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: solid 1px #6e6e6e;
    border-radius: 20px;
    background-color: #a9b7ae;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 10px;
}

.post-template__photo-body-wall {
    width: 80%;
    border: solid 1px #6e6e6e;
    border-radius: 20px;
    margin: auto;
}

.photo {
    border: solid 1px #6e6e6e;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photo-icon {
    border: solid 1px #6e6e6e;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.description__likes-icon {

}

.like{
    transform: translate(-2px, 0);
    transition: 200ms;
    transition-timing-function: ease-in-out;
    -webkit-transition: 200ms;
    -webkit-transition-timing-function: ease-in-out;
    fill: rgb(92, 92, 92);
    cursor: pointer;
}


.like._active{
     fill: rgb(435, 92, 92);
}


@media (min-width: 576px) {

    .post-template__title-body {
        height: 40px;
    }

    .post-template__title-text {
        font-size: 20px;
    }

    .description__likes-area {
        font-size: 18px;
    }

    .description__description {
        font-size: 18px;
    }

    .description__more-button {
        font-size: 16px;
    }

    .post-template__title-username {
        font-size: 16px;
    }

    .post-template-wall {
        max-width: 450px;
    }
}

@media (min-width: 768px) {

    .description__likes-area {
        font-size: 20px;
    }

    .description__description {
        font-size: 20px;
    }

    .description__more-button {
        font-size: 19px;
    }

    .post-template-wall {
        max-width: 500px;
    }
}

@media (min-width: 992px) {

    .post-template-wall {
        max-width: 500px;
    }

    .post-template__title-username {
        font-size: 18px;
    }
}