html {
    background-color: #b0ccc0;
    font-family: Signika, serif;
}

.modal__container {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 15;
    transition: all 0.4s ease 0s;
    opacity: 0;
    visibility: hidden;
}

.modal__container.open{
    opacity: 1;
    visibility: visible;
}

.page-box {
    max-width: 470px;
    height: 560px;
    border: solid 1px #6e6e6e;
    border-radius: 20px;
    background-color: #a9b7ae;
    padding-bottom: 15px;
    transition: all 0.4s ease 0s;
    position: relative;
    margin: 50px 20px;
}

.page-box__cancel {
    top: 10px;
    right: 10px;
    text-decoration: none;
    color: #262626;
    font-size: 24px;
    position: absolute;
}

.page-box__text-add {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #262626;
    padding: 15px 0;
}

.page-box__selection-area {
    max-width: 400px;
    width: 80%;
    max-height: 350px;
    border: solid 1px #6e6e6e;
    border-radius: 20px;
    margin: auto;
}

.page-box__icon-border {
    width: fit-content;
    height: fit-content;
    border: solid 1px #6e6e6e;
    border-radius: 20px;
    margin: 100px auto;
}

.page-box__icon-image {
    padding: 15px 15px;
}

.page-box__selection-text {
    bottom: 0;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #262626;
    padding: 10px 10px;
}

.post-title, .post-desc {
    max-width: 380px;
    width: 65%;
    border: solid 1px #6e6e6e;
    border-radius: 30px;
    background-color: #a9b7ae;
    outline: none;
    padding: 5px 15px;
    resize: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.post-desc {
    height: 45px;
    font-family: Signika, serif;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 5px auto;
    resize: none;
}

.page-box__input-forms {
    padding: 15px 0;
    text-align: center;
}

.page-box__button {
    text-align: center;
}

.add-button {
    border: solid 1px #6e6e6e;
    border-radius: 30px;
    background-color: #d5b19b;
    opacity: 90%;
    font-family: Signika, serif;
    font-size: 18px;
    font-weight: bold;
    color: #f0f0f0;
    padding: 10px 20px;
    text-shadow: 0 2px 0 rgba(0.1, 0.1, 0, 0.1);
}

button:hover {
    background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0), rgba(0.1, 0.1, 0, 0.1));
}


@media (min-width: 576px) {

    .page-box{
        height: 605px;
    }

    .page-box__text-add {
        font-size: 26px;
    }

    .page-box__selection-area {
        height: 420px;
    }

    .page-box__selection-text {
        /*margin-top: 125px;*/
        font-size: 16px;
    }

    .post-desc {
        font-size: 18px;
    }

    .post-title {
        font-size: 22px;
    }

    .body__add-text {
        font-size: 24px;
    }
}

@media (min-width: 768px) {

    .page-box{
        height: 620px;
    }


    .page-box__text-add {
        font-size: 26px;
    }

    .page-box__selection-area {
        height: 350px;
    }

    .page-box__selection-text {
        /*margin-top: 125px;*/
        font-size: 16px;
    }

    .post-title, .post-desc {
        padding: 10px 15px;
        font-size: 22px;
    }

    .body__add-text {
        font-size: 24px;
    }

    .add-button {
        font-size: 22px;
    }
}

