html {
    background-color: #b0ccc0;
}

.profile__posts-wall {

}

.posts-wall__elements {
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px 15px;
}